<!DOCTYPE html>
<html ng-app="phone">
<head>
  <meta charset="utf-8">
  <title>iPhone 6S</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="stylesheets/style.css" rel="stylesheet">

  <script type="text/javascript" src="javascripts/angular.js"></script>
  <script type="text/javascript" src="javascripts/app.js"></script>
  <script type="text/javascript" src="javascripts/application.js"></script>
  <script type="text/javascript" src="javascripts/network.js"></script>
  <script type="text/javascript" src="javascripts/time.js"></script>
  <script type="text/javascript" src="javascripts/battery.js"></script>
</head>

<body>
  <div class="phone-border">
    <div class="phone">
      <div class="camera front"></div>
      <div class="speaker"></div>

      <!-- Screen render -->
      <div class="screen">
        <!-- Notification bar -->
        <div class="notification-bar">
          <div class="left">
          </div>
          <div class="center time" ng-controller="TimeController as time">
            <p current-time="format"></p>
          </div>
          <div class="right" ng-controller="BatteryController as battery">
            <div class="battery">
              <div class="block-large">
                <div class="charge" ng-style="{'width': '{{ battery.currentBattery }}%'}"></div>
              </div>
              <div class="block-small"></div>
            </div>
            <p>{{ battery.currentBattery }}%</p>
          </div>
        </div>
        <!-- End of notification bar -->

        <!-- Icons -->
        <div class="icons" ng-controller="ApplicationController as app">
          <div class="application" ng-repeat="application in app.applications">
            <div id="{{ application.name.toLowerCase() }}" class="icon" ng-style="application.logo && {'background-image': 'url({{ application.logo }})'}"></div>
            <p>{{ application.name }}</p>
          </div>
        </div>
        <!-- End of icons -->

        <!-- Shortcut icon -->
        <div class="shortcut" ng-controller="ApplicationController as app">
          <div class="blur"></div>
          <div class="application" ng-repeat="shortcut in app.shortcuts">
            <div id="{{ shortcut.name.toLowerCase() }}" class="icon" ng-style="shortcut.logo && {'background-image': 'url({{ shortcut.logo }})'}"></div>
            <p>{{ shortcut.name }}</p>
          </div>
        </div>
        <!-- End of shortcut icon -->
      </div>
      <!-- End of screen render -->

      <!-- Home button -->
      <div class="main-button">
        <div class="touch-id"></div>
      </div>
      <!-- End of home button -->
    </div>
  </div>

  <div class="calque"></div>
</body>
</html>
