<div class="screen main">
<!-- Notification bar -->
<div ng-include="'views/notification-bar.htm'"></div>
<!-- End of notification bar -->

<!-- Icons -->
<div class="icons" ng-controller="ApplicationController as item">
  <div class="application" ng-repeat="application in item.applications">
    <div ng-include="application.icon"></div>
    <p>{{ application.name }}</p>
  </div>
</div>
<!-- End of icons -->

<!-- Shortcut icon -->
<div class="shortcut" ng-controller="ApplicationController as item">
  <div class="blur"></div>
  <div class="application" ng-repeat="application in item.shortcuts">
    <div ng-include="application.icon"></div>
    <p>{{ application.name }}</p>
  </div>
</div>
<!-- End of shortcut icon -->
</div>
