<!-- Notification bar -->
<div class="notification-bar">
  <div class="left">
  </div>
  <div class="center time" ng-controller="TimeController as time">
    <p current-time="format"></p>
  </div>
  <div class="right" ng-controller="BatteryController">
    <div class="battery">
      <div class="block-large">
        <div class="charge" style="width: {{ level }}%"></div>
      </div>
      <div class="block-small"></div>
    </div>
    <p>{{ level }}% {{ status }}</p>
  </div>
</div>
<!-- End of notification bar -->

<!-- Icons -->
<div class="icons" ng-controller="ApplicationController as item">
  <div class="application" ng-repeat="application in item.applications">
    <div ng-include="application.icon"></div>
    <p>{{ application.name }}</p>
  </div>
</div>
<!-- End of icons -->

<!-- Shortcut icon -->
<div class="shortcut" ng-controller="ApplicationController as item">
  <div class="blur"></div>
  <div class="application" ng-repeat="application in item.shortcuts">
    <div ng-include="application.icon"></div>
    <p>{{ application.name }}</p>
  </div>
</div>
<!-- End of shortcut icon -->
