<div class="notification-bar">
  <div class="left" data-ng-controller="NetworkController">

  </div>
  <div class="center time" data-ng-controller="TimeController as time">
    <p current-time="format"></p>
  </div>
  <div class="right" data-ng-controller="BatteryController">
    <img class="battery-status" data-ng-show="status" data-ng-src="{{ status_image }}">
    <div class="battery">
      <div class="block-large">
        <div class="charge" style="width: {{ level }}%; background-color: {{ background_color }}"></div>
      </div>
      <div class="block-small"></div>
    </div>
    <p>{{ level }}%</p>
  </div>
</div>
