.app.safari
  .notification-bar
    background-color: #f8f8f8
    color: black
    .center.time p, p
      color: black
    .right .battery
      .block-large
        border-color: black
        .charge
          background-color: black
      .block-small
        background-color: black
