<div class="app safari">
  <div class="header">
    <div data-ng-init="background_color = 'black'" data-ng-include="'views/notification-bar.htm'"></div>
    <div class="search">
      <input type="text" name="url" data-ng-model="url">
    </div>
  </div>
  <iframe frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=statue%20of%20liberty&amp;key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
  <div class="footer">
    <div class="button previous"><img src="images/ios-previous.png"/></div>
    <div class="button next"><img src="images/ios-next.png"/></div>
    <div class="button share"><img src="images/ios-share.png"/></div>
    <div class="button bookmark"><img src="images/ios-bookmark.png"/></div>
    <div class="button tab"><img src="images/ios-tab.png"/></div>
  </div>
</div>
<div style="display:none;position:absolute;background-image:url('images/safari.png');top:0;left:0;width:100%;height:100%;background-size:contain;opacity:.3;"></div>
