body {
  font-family: Helvetica;
  font-size: 18px;
  margin: 0; }

p {
  margin: 0; }

iframe {
  width: 588px;
  border: none;
  background-color: white; }

.cursor {
  cursor: pointer; }

.calque {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  width: 671px;
  height: 1383px;
  background-image: url("../images/iphone6S.png");
  background-size: contain;
  background-repeat: no-repeat; }

.phone-border {
  position: relative;
  width: 671px;
  height: 1383px;
  border-radius: 99.70588px;
  background-color: #8e8e93; }

.phone {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 655px;
  height: 1367px;
  border-radius: 94.37255px;
  background-color: #0d0c08; }

.camera {
  position: absolute;
  background-color: #393631;
  left: 208px;
  top: 68px;
  width: 24px;
  height: 24px;
  border-radius: 12px; }

.speaker {
  position: absolute;
  width: 108px;
  height: 10px;
  top: 76px;
  left: 50%;
  border-radius: 5px;
  margin-left: -54px;
  background-color: #393631; }

.screen {
  position: absolute;
  width: 588px;
  height: 1044px;
  top: 50%;
  margin-top: -522px;
  left: 50%;
  margin-left: -294px;
  background-size: contain;
  background-repeat: no-repeat; }
  .screen.main {
    background-image: url("../images/wallpaper-00.png"); }

.notification-bar {
  position: relative;
  width: 100%;
  height: 36px; }
  .notification-bar .left {
    float: left;
    width: 33.33333%;
    height: 100%; }
  .notification-bar .center {
    float: left;
    width: 33.33333%;
    height: 100%; }
    .notification-bar .center.time {
      text-align: center;
      font-size: 18px;
      height: 36px; }
      .notification-bar .center.time p {
        margin: 0;
        line-height: 32px;
        color: white;
        font-weight: lighter; }
  .notification-bar .right {
    float: right;
    height: 100%;
    margin-right: 8px; }
    .notification-bar .right p {
      float: right;
      color: white;
      font-weight: lighter;
      margin-top: 4px;
      margin-right: 8px;
      font-size: 20px; }
    .notification-bar .right .battery {
      height: 12px;
      margin-top: 9px;
      float: right;
      opacity: 0.64; }
      .notification-bar .right .battery .block-large {
        width: 33px;
        height: 100%;
        border-style: solid;
        border-color: white;
        border-width: 1px;
        float: left; }
        .notification-bar .right .battery .block-large .charge {
          height: 100%;
          background-color: white;
          width: 0%; }
      .notification-bar .right .battery .block-small {
        width: 3px;
        height: 8px;
        background-color: white;
        float: left;
        margin-top: 3px; }
    .notification-bar .right .battery-status {
      width: 10px;
      height: 16px;
      margin-top: 9px;
      margin-left: 2px;
      float: right;
      opacity: 0.64; }

.phone .screen .shortcut {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 148px; }
  .phone .screen .shortcut .blur {
    position: absolute;
    width: 100%;
    height: 100%; }

.blur {
  overflow: hidden;
  display: block;
  background-color: #444444;
  opacity: 0.75; }

.main-button {
  position: absolute;
  width: 110px;
  height: 110px;
  left: 50%;
  margin-left: -55px;
  border-radius: 55px;
  bottom: 2%;
  background-color: #8e8e93; }
  .main-button .touch-id {
    position: absolute;
    width: 101.75px;
    height: 101.75px;
    top: 50%;
    margin-top: -50.875px;
    left: 50%;
    margin-left: -50.875px;
    border-radius: 50.875px;
    background-color: #0d0c08; }

.application {
  position: relative;
  float: left;
  width: 96px;
  margin-left: 41px; }
  .application .icon {
    width: 96px;
    height: 96px;
    border-radius: 22px;
    background-image: url("../images/icon-template-white.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative; }
  .application p {
    color: white;
    font-size: 19px;
    text-align: center;
    margin-top: 4px;
    margin-right: 0;
    margin-bottom: 4px;
    margin-left: 0;
    white-space: nowrap; }

.icons .application {
  height: 138px; }

.shortcut .application {
  margin-top: 20px; }

/*# sourceMappingURL=style.css.map */
