@import "../../../app/sass/config"
@font-face
  font-family: 'Roboto Thin'
  src: url('../../../fonts/roboto/Roboto-Thin.ttf') format('truetype')

#calendar
  background-color: white
  background-image: none
  position: relative

.calendar
  div.weekday
    color: $red0
    font-size: 18px * $scale
    margin: 0 auto
    text-align: center
    line-height: 38px * $scale
    font-family: 'Roboto Thin'
    font-weight: bold
  div.day
    color: black
    font-size: 64px * $scale
    margin: 0 auto
    text-align: center
    line-height: 38px * $scale
    font-family: 'Roboto Thin'
    font-weight: lighter
